body {
    padding: 10px;

}

.listing {
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgrey;
    /* background: url('https://www.wallpaperuse.com/wallp/11-117674_m.jpg'); */

}

