{% extends "auctions/layout.html" %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'auctions/index.css'%}">
{% endblock %}


{% block body %}
    <h1 class="text-center">Active Listings</h1>


    <div class="row">
    {% for listing in listings %}
    <div class="listing border col-lg-5 col-12 mx-auto">
        <a href="{% url 'listing' listing.uuid listing.title %}">
           <h3 class="text-center"> {{ listing.title }} </h3>
        </a>
           <p class="fs-1"> {{ listing.description }} </p>
            <hr>

           {% ifequal listing.winner user %}
            You won this listing
           {% else %}
            {% if listing.winner %}
            <p>Winner: {{ listing.winner }}</p>
            {% endif %}
            {% endifequal %}

            {% if listing.photourl %}
            <a href="{% url 'listing' listing.uuid listing.title %}">
                <img width="100px" class="w-25" src="{{ listing.photourl }}" alt="{{ listing.title }}">
            </a>
            {% endif %}
           <p>Current price: {{ listing.bid }}</p>
            <p>Number of followers: {{ listing.following.all|length }} </p>
            <p class="text-info">{% if user in listing.following.all %} <i>This item is in your watchlist </i> {%else %} {%endif%}</p>
           
            <p class="text-dark">
            {% if comments %}
                comments:
            {% else %}
                There are no comments on this item.
            {% endif %}
            </p>
           {% for comment in listing.comments.all %}
           <p>{{ comment }} <span class="blockquote-footer"> {{ comment.author }} </span></p>
            {% endfor %}
        </div>

        {% empty %}
        <p>There are no listings currently</p>


    {% endfor %}
</div>
    <br>
{% endblock %}