{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Listing - {{ listing.title }}
{% endblock %}

{% block body %}

    <h5> {{ listing.description }} </h5>
    
    {% ifequal listing.winner user %}
     You won this listing
    {% else %}
     {% if listing.winner %}
     <p>Winner: {{ listing.winner }}</p>
     {%else %}
     <p>Active Listing </p>
     {% endif %}
     {% endifequal %}

     {% if listing.photourl %}
     <img width="100px" class="w-25" src="{{ listing.photourl }}" alt="{{ listing.title }}">
     {% endif %}

     <!-- add/remove to watchlist -->
     <form action="{% url 'listing' listing %}" method="POST">

        {% csrf_token %}
        {% if user in listing.following.all %}
            <input name="wl" type="submit" value="Remove from watch list">
        {% else %}
            <input name="wl" type="submit" value="Add to watch list">
        {% endif %}
    </form>


     <p>Curr price: {{ listing.bid }}</p>
     <p>Num followers: {{ listing.following.all|length }} </p>
     <p>Following: {% if user in listing.following.all %} yes {%else %} no {%endif%}</p>
    comments:
    {% for comment in listing.comments.all %}
    <p>{{ comment }} <span class="blockquote-footer"> {{ comment.author }} </span></p>
    {% endfor %}

{% endblock %}